
.block{
    position: relative;
}
    .deleteIcon {
        position: absolute
        margin-left;
        margin-top:5px;
        color:#000000
    }
    .button{
        line-height:50px;
        margin-top:130%;
        margin-right:15%;
    }

.gallery{
            line-height:60px;
            margin-bottom: 190%;
        margin-left:80%;
}
